html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 559px) {

    html,
    body,
    header,
    .view {
        height: 1000px;
    }
}

@media (min-width: 560px) and (max-width: 740px) {

    html,
    body,
    header,
    .view {
        height: 700px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {

    html,
    body,
    header,
    .view {
        height: 600px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
    }
}
