@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset Clave de Autenticación";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Si usted resetea su clave de autenticación de su aplicacion de autenticación esta no funcionará hasta que la reconfigure de nuevo</strong>
    </p>
    <p>
        Este proceso deshabilita 2FA hasta que verifique su aplicación de autenticación.
        Si no completa la configuración de la aplicación de autenticación, puede perder el acceso a su cuenta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset Calve de Autenticación</button>
    </form>
</div>