@model ProyectoFinal.Web.Areas.Admin.Models.AdminPanelViewModel
@{
    ViewBag.Title = "Panel de Administración";
}
    <link rel="stylesheet" href="~/css/custom.css" />
<h2>Panel de Administracion</h2>
<hr />
<div class="main-section">
    <div class="dashbord dashbord-blue">
        <div class="icon-section">
            <i class="fa fa-users" aria-hidden="true"></i><br>
            <small>Usuarios</small>
            <p>@Model.User.Count()</p>
        </div>
        <div class="detail-section">
            <a href="/Admin/User">Ver Detalles</a>
        </div>
    </div>
    <div class="dashbord">
        <div class="icon-section">
            <i class="fas fa-bug" aria-hidden="true"></i><br>
            <small>Malware</small>
            <p>@Model.Malware.Count()</p>
    </div>
        <div class="detail-section">
            <a href="/Admin/Malware">Ver Detalles</a>
        </div>
    </div>
    <div class="dashbord dashbord-orange">
        <div class="icon-section">
            <i class="fa fa-comment" aria-hidden="true"></i><br>
            <small>Comentarios</small>
            <p>@Model.Comment.Count()</p>
        </div>
        <div class="detail-section">
            <a href="/Admin/Comment">Ver Detalles</a>
        </div>
    </div>
    <div class="dashbord dashbord-green">
        <div class="icon-section">
            <i class="fas fa-images" aria-hidden="true"></i><br>
            <small>Imagenes</small>
            <p>@Model.ScreenShot.Count()</p>
        </div>
        <div class="detail-section">
            <a href="/Admin/ScreenShot">Ver Detalles</a>
        </div>
    </div>

    <div class="dashbord dashbord-skyblue">
        <div class="icon-section">
            <i class="fa fa-copy" aria-hidden="true"></i><br>
            <small>Logs</small>
            <p>2</p>
        </div>
        <div class="detail-section">
            <a href="/Admin/Log">Ver Detalles</a>
        </div>
    </div>
</div>