
@{
    ViewData["Title"] = "Aviso Legal";
}

<h1>Aviso Legal</h1>
<hr />
<p>En cumplimiento de lo establecido en la Ley 34/2002 de 11 de Julio, de Servicios de la Sociedad de La Informaci&oacute;n y el Comercio Electr&oacute;nico LSSI) y legislaci&oacute;n sectorial concordante, se informa de los siguientes aspectos legales:</p>
<p>ProyectoFinal, S.L. informa que con CIF B00000000 y con domicilio social en Av. Constituci&oacute;n, 3, 07760 Ciutadella de Menorca, Baleares, est&aacute; inscrita en Registro Mercantil de Islas Baleares, tomo 36076, folio 97, Hoja B-276273, Inscripci&oacute;n 1.</p>
<p>Tel&eacute;fono de contacto: <a>971 00 00 00</a></p>
<p>E-mail de contacto: <a href="mailto:web@neobyte.es">contacto@proyectofinal.com</a></p>
<p>ProyectoFinal, S.L es propietario directo del sitio web http://www.proyectofinal.com y sus subdominios en adelante (proyectofinal.com) y tiene objetivo facilitar y dar apoyo comercial, al p&uacute;blico en general, de las actividades que ProyectoFinal realiza y los productos y servicios vende.</p>
