@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>
<hr />
<p ><strong><b>Protecci&oacute;n de datos de car&aacute;cter personal seg&uacute;n la LOPD</b></strong></p>
<p>ProyectoFinal, en aplicaci&oacute;n de la normativa vigente en materia de protecci&oacute;n de datos de car&aacute;cter personal, informa que los datos personales que se recogen a trav&eacute;s de los formularios del Sitio web: se incluyen en los ficheros automatizados espec&iacute;ficos de usuarios de los servicios de ProyectoFinal</p>
<p>La recogida y tratamiento automatizado de los datos de car&aacute;cter personal tiene como finalidad el mantenimiento de la relaci&oacute;n comercial y el desempe&ntilde;o de tareas de informaci&oacute;n, formaci&oacute;n, asesoramiento y otras actividades propias de ProyectoFinal</p>
<p>&nbsp;Estos datos &uacute;nicamente ser&aacute;n cedidos a aquellas entidades que sean necesarias con el &uacute;nico objetivo de dar cumplimiento a la finalidad anteriormente expuesta.</p>
<p>&nbsp;ProyectoFinal adopta las medidas necesarias para garantizar la seguridad, integridad y confidencialidad de los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protecci&oacute;n de las personas f&iacute;sicas en lo que respecta al tratamiento de datos personales y a la libre circulaci&oacute;n de los mismos.</p>
<p>&nbsp;El usuario podr&aacute; en cualquier momento ejercitar los derechos de acceso, oposici&oacute;n, rectificaci&oacute;n y cancelaci&oacute;n reconocidos en el citado Reglamento (UE). El ejercicio de estos derechos puede realizarlo el propio usuario a trav&eacute;s de email a: <a href="mailto:privacy@proyectofinal.com">privacy@proyectofinal.com</a></p>
<p>&nbsp;El usuario manifiesta que todos los datos facilitados por &eacute;l son ciertos y correctos, y se compromete a mantenerlos actualizados, comunicando los cambios a ProyectoFinal</p>
<p><strong><b>Finalidad del tratamiento de los datos personales:</b></strong></p>
<p>&nbsp;<strong><b>&iquest;Con qu&eacute; finalidad trataremos tus datos personales?</b></strong></p>
<p>&nbsp;En ProyectoFinal, trataremos tus datos personales recabados a trav&eacute;s del Sitio Web:</p>
<p>&nbsp;Proyectofinal.com, con las siguientes finalidades:</p>
<ol>
    <li>En caso de contrataci&oacute;n de los bienes y servicios ofertados a trav&eacute;s de dicha web, para mantener la relaci&oacute;n contractual, as&iacute; como la gesti&oacute;n, administraci&oacute;n, informaci&oacute;n, prestaci&oacute;n y mejora del servicio.</li>
</ol>
<ol start="2">
    <li>Env&iacute;o de informaci&oacute;n solicitada a trav&eacute;s de los formularios dispuestos</li>
</ol>
<ol start="3">
    <li>Remitir boletines (newsletters), as&iacute; como comunicaciones comerciales de promociones y/o publicidad de ProyectoFinal y del sector.</li>
</ol>
<p>Te recordamos que puedes oponerte al env&iacute;o de comunicaciones comerciales por cualquier v&iacute;a y en cualquier momento, remitiendo un correo electr&oacute;nico a la direcci&oacute;n indicada anteriormente.</p>
<p>Los campos de dichos registros son de cumplimentaci&oacute;n obligatoria, siendo imposible realizar las finalidades expresadas si no se aportan esos datos.</p>
<p><strong><b>&iquest;Por cu&aacute;nto tiempo se conservan los datos personales recabados?</b></strong></p>
<p>Los datos personales proporcionados se conservar&aacute;n mientras se mantenga la relaci&oacute;n comercial o no solicites su supresi&oacute;n y durante el plazo por el cu&aacute;l pudieran derivarse responsabilidades legales por los servicios prestados.</p>
<p><strong><b>Legitimaci&oacute;n</b></strong></p>
<p>El tratamiento de tus datos se realiza con las siguientes bases jur&iacute;dicas que legitiman el mismo:</p>
<ol>
    <li>La solicitud de informaci&oacute;n y/o la contrataci&oacute;n de los servicios de ProyectoFinal, cuyos t&eacute;rminos y condiciones se pondr&aacute;n a tu disposici&oacute;n en todo caso, de forma previa a una eventual contrataci&oacute;n.</li>
</ol>
<ol start="2">
    <li>El consentimiento libre, espec&iacute;fico, informado e inequ&iacute;voco, en tanto que te informamos poniendo a tu disposici&oacute;n la presente pol&iacute;tica de privacidad, que tras la lectura de la misma, en caso de estar conforme, puedes aceptar mediante una declaraci&oacute;n o una clara acci&oacute;n afirmativa, como el marcado de una casilla dispuesta al efecto. </li>
</ol>
<p>En caso de que no nos facilites tus datos o lo hagas de forma err&oacute;nea o incompleta, no podremos atender tu solicitud, resultando del todo imposible proporcionarte la informaci&oacute;n solicitada o llevar a cabo la contrataci&oacute;n de los servicios.</p>
<p><strong><b>Datos recopilados por usuarios de los servicios</b></strong></p>
<p>En los casos en que el usuario incluya ficheros con datos de car&aacute;cter personal en los servidores de alojamiento compartido, ProyectoFinal no se hace responsable del incumplimiento por parte del usuario del RGPD.</p>
<p><strong><b>Retenci&oacute;n de datos en conformidad a la LSSI</b></strong></p>
<p>ProyectoFinal informa de que, como prestador de servicio de alojamiento de datos y en virtud de lo establecido en la Ley 34/2002 de 11 de julio de Servicios de la Sociedad de la Informaci&oacute;n y de Comercio Electr&oacute;nico (LSSI), retiene por un periodo m&aacute;ximo de 12 meses la informaci&oacute;n imprescindible para identificar el origen de los datos alojados y el momento en que se inici&oacute; la prestaci&oacute;n del servicio. La retenci&oacute;n de estos datos no afecta al secreto de las comunicaciones y s&oacute;lo podr&aacute;n ser utilizados en el marco de una investigaci&oacute;n criminal o para la salvaguardia de la seguridad p&uacute;blica, poni&eacute;ndose a disposici&oacute;n de los jueces y/o tribunales o del Ministerio que as&iacute; los requiera.</p>
<p>La comunicaci&oacute;n de datos a las Fuerzas y Cuerpos del Estado se har&aacute; en virtud a lo dispuesto en la normativa sobre protecci&oacute;n de datos personales.</p>
<p><strong><b>Derechos propiedad intelectual</b></strong></p>
<p>ProyectoFinal es titular de todos los derechos de autor, propiedad intelectual, industrial, "know how" y cuantos otros derechos guardan relaci&oacute;n con los contenidos del sitio web proyectofinal.com y los servicios ofertados en el mismo, as&iacute; como de los programas necesarios para su implementaci&oacute;n y la informaci&oacute;n relacionada.</p>
<p>&nbsp;No se permite la reproducci&oacute;n, publicaci&oacute;n y/o uso no estrictamente privado de los contenidos, totales o parciales, del <a href="http://www.delabcare.com/">sitio web </a>proyectofinal.com sin el consentimiento previo y por escrito.</p>
<p><strong><b>Propiedad intelectual del software</b></strong></p>
<p>ProyectoFinal dispone de los derechos de explotaci&oacute;n y propiedad intelectual necesarios del software. El usuario no adquiere derecho alguno o licencia por el servicio contratado, sobre el software necesario para la prestaci&oacute;n del servicio, ni tampoco sobre la informaci&oacute;n t&eacute;cnica de seguimiento del servicio, excepci&oacute;n hecha de los derechos y licencias necesarios para el cumplimiento de los servicios contratados y &uacute;nicamente durante la duraci&oacute;n de los mismos.</p>
<p>&nbsp;Para toda actuaci&oacute;n que exceda del cumplimiento del contrato, el usuario necesitar&aacute; autorizaci&oacute;n por escrito por parte de ProyectoFinal, quedando prohibido al usuario acceder, modificar, visualizar la configuraci&oacute;n, estructura y ficheros de los servidores propiedad de ProyectoFinal, asumiendo la responsabilidad civil y penal derivada de cualquier incidencia que se pudiera producir en los servidores y sistemas de seguridad como consecuencia directa de una actuaci&oacute;n negligente o maliciosa por su parte.</p>
<p><strong><b>Propiedad intelectual de los contenidos alojados</b></strong></p>
<p>Se proh&iacute;be el uso contrario a la legislaci&oacute;n sobre propiedad intelectual de los servicios prestados por ProyectoFinaly, en particular de:</p>
<ul>
    <li>La utilizaci&oacute;n que resulte contraria a las leyes espa&ntilde;olas o que infrinja los derechos de terceros.</li>
</ul>
<ul>
    <li>La publicaci&oacute;n o la transmisi&oacute;n de cualquier contenido que, a juicio de ProyectoFinal, resulte violento, obsceno, abusivo, ilegal, racial, xen&oacute;fobo o difamatorio.</li>
</ul>
<ul>
    <li>Los cracks, n&uacute;meros de serie de programas o cualquier otro contenido que vulnere derechos de la propiedad intelectual de terceros.</li>
</ul>
<ul>
    <li>La recogida y/o utilizaci&oacute;n de datos personales de otros usuarios sin su consentimiento expreso o contraviniendo lo dispuesto en Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protecci&oacute;n de las personas f&iacute;sicas en lo que respecta al tratamiento de datos personales y a la libre circulaci&oacute;n de los mismos.</li>
</ul>
<ul>
    <li>La utilizaci&oacute;n del servidor de correo del dominio y de las direcciones de correo electr&oacute;nico para el env&iacute;o de correo masivo no deseado.</li>
</ul>
<p>El usuario tiene toda la responsabilidad sobre el contenido de su web, la informaci&oacute;n transmitida y almacenada, los enlaces de hipertexto, las reivindicaciones de terceros y las acciones legales en referencia a propiedad intelectual, derechos de terceros y protecci&oacute;n de menores.</p>
<p>El usuario es responsable respecto a las leyes y reglamentos en vigor y las reglas que tienen que ver con el funcionamiento del servicio online, comercio electr&oacute;nico, derechos de autor, mantenimiento del orden p&uacute;blico, as&iacute; como principios universales de uso de Internet.</p>
<p>El usuario indemnizar&aacute; a ProyectoFinal por los gastos que generar&aacute; la imputaci&oacute;n en alguna causa cuya responsabilidad fuera atribuible al usuario,&nbsp; incluidos honorarios y gastos de defensa jur&iacute;dica, incluso en el caso de una decisi&oacute;n judicial no definitiva.</p>
<p><strong><b>Comunicaciones comerciales</b></strong></p>
<p>En aplicaci&oacute;n de la LSSI. ProyectoFinal no enviar&aacute; comunicaciones publicitarias o promocionales por correo electr&oacute;nico u otro medio de comunicaci&oacute;n electr&oacute;nica equivalente que previamente no hubieran sido solicitadas o expresamente autorizadas por los destinatarios de las mismas.</p>
<p>En el caso de usuarios con los que exista una relaci&oacute;n contractual previa, ProyectoFinal s&iacute; est&aacute; autorizado al env&iacute;o de comunicacionescomerciales referentes a productos o servicios de ProyectoFinal que sean similares a los que inicialmente fueron objeto de contrataci&oacute;n con el cliente.</p>
<p>En todo caso, el usuario, tras acreditar su identidad, podr&aacute; solicitar que no se le haga llegar m&aacute;s informaci&oacute;n comercial a trav&eacute;s de los canales de Atenci&oacute;n al Cliente.</p>
<p>&nbsp;</p>
