@model ProyectoFinal.CORE.Cuckoo.CuckooInfo
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ProyectoFinal.CORE.ApplicationUser> SignInManager
@inject UserManager<ProyectoFinal.CORE.ApplicationUser> UserManager
<script src="~/js/addons/Chart.bundle.min.js"></script>

<div class="col-md-4">
    <div class="card">
        <h4 class="card-header elegant-color white-text text-center py-4">Cuckoo</h4>
        <div class="card-body px-lg-5 pt-0">
            <div align="center">
                <canvas id="cuckooChart" width="450" height="400"></canvas>
                <br />
                <h4>Nota Obtenida:</h4>
                <span class="badge badge-pill badge-primary" align="right">@Model.Score</span>
                <br />
                @if (User.IsInRole("Admin") | User.IsInRole("Professional") | User.IsInRole("Business"))
                {
                    <a href="@(Url.Action("Cuckoo", "Analysis", new { id = @Model.MD5}))" class="btn btn-info">Ver Detalles</a>
                }
                else
                {
            <span class="badge badge-pill badge-info">Para ver más detalles debes ser un con plan de pago</span>
                }
            </div>
        </div>
    </div>
</div>

<script>

    var ctxD2 = document.getElementById("cuckooChart").getContext('2d');
    var myLineChart = new Chart(ctxD2, {
        type: 'doughnut',
        data: {
            labels: ["Nota", " Total"],
            datasets: [{
                data: [@Model.Score, 10],
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
            }]
        },
        options: {
            responsive: true
        }
    });

    </script>