@model IEnumerable<ProyectoFinal.CORE.ScreenShot>

<script src="~/js/addons/ekko-lightbox.min.js"></script>
<h2>Imágenes</h2>
<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row">

            @foreach (var image in Model)
            {
                <a href="/@image.PathFile" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img href="/@image.PathFile" class="img-fluid">
                </a>
            }
        </div>
    </div>
</div>

<script>$(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });</script>